<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A013.A013Update99GridSaveMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A013.A013Update99GridSaveEntity" id="A013Update99GridSaveEntityMap">
		<result property="SEISAKUHINKUBUN" column="SEISAKUHINKUBUN" />
		<result property="HINBANNO1" column="HINBANNO1" />
		<result property="HINMEI" column="HINMEI" />
		<result property="KOSUU" column="KOSUU" />
		<result property="SOUKOSUU" column="SOUKOSUU" />
		<result property="TSUKAMATSUNYUUSAKI" column="TSUKAMATSUNYUUSAKI" />
		<result property="KIBOUNOUKI" column="KIBOUNOUKI" />
		<result property="TANTOU" column="TANTOU" />
		<result property="TEHAISAKI" column="TEHAISAKI" />
		<result property="KOUNYUUTANKA" column="KOUNYUUTANKA" />
		<result property="KAHEI" column="KAHEI" />
		<result property="TEHAIBI" column="TEHAIBI" />
		<result property="NYUUKABI" column="NYUUKABI" />
		<result property="SHOUKEI" column="SHOUKEI" />
		<result property="KAKOTANKA" column="KAKOTANKA" />
		<result property="CHUUBUNSHOMEISAINO" column="CHUUBUNSHOMEISAINO" />
		<result property="CHUUBUNSHONO" column="CHUUBUNSHONO" />
		<result property="KIBOUTANKA" column="KIBOUTANKA" />
		<result property="NYUUKAYOTEIBI" column="NYUUKAYOTEIBI" />
		<result property="HINBANNO" column="HINBANNO" />
		<result property="KAKUTEIKUBUN" column="KAKUTEIKUBUN" />
		<result property="KOUJIKANRIBANGOU" column="KOUJIKANRIBANGOU" />
	</resultMap>
	<!-- null -->
	<update id="A013Update99GridSaveData" >
		UPDATE BUHINSYOUSAI SET SEISAKUHINKUBUN = #{SEISAKUHINKUBUN},HINBANNO1 = #{HINBANNO1},HINMEI = #{HINMEI},KOSUU = #{KOSUU},SOUKOSUU = #{SOUKOSUU},TSUKAMATSUNYUUSAKI = #{TSUKAMATSUNYUUSAKI},KIBOUNOUKI = #{KIBOUNOUKI},TANTOU = #{TANTOU},TEHAISAKI = #{TEHAISAKI},KOUNYUUTANKA = #{KOUNYUUTANKA},KAHEI = #{KAHEI},TEHAIBI = #{TEHAIBI},NYUUKABI = #{NYUUKABI},SHOUKEI = #{SHOUKEI},KAKOTANKA = #{KAKOTANKA},CHUUBUNSHOMEISAINO = #{CHUUBUNSHOMEISAINO},CHUUBUNSHONO = #{CHUUBUNSHONO},KIBOUTANKA = #{KIBOUTANKA},NYUUKAYOTEIBI = #{NYUUKAYOTEIBI},HINBANNO = #{HINBANNO},KAKUTEIKUBUN = #{KAKUTEIKUBUN},KOUJIKANRIBANGOU = #{KOUJIKANRIBANGOU}
			<where>
				 1 = 1 
				<if test="CHUUBUNSHONO1 != null and CHUUBUNSHONO1 != ''">
					 AND CHUUBUNSHONO  = #{CHUUBUNSHONO1} 
				</if>
				<if test="CHUUBUNSHOMEISAINO1 != null and CHUUBUNSHOMEISAINO1 != ''">
					 AND CHUUBUNSHOMEISAINO  = #{CHUUBUNSHOMEISAINO1} 
				</if>
				<if test="HINBANNO2 != null and HINBANNO2 != ''">
					 AND HINBANNO  = #{HINBANNO2} 
				</if>
			</where>
	</update>
</mapper>