<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A013.A013InsertSaveMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A013.A013InsertSaveEntity" id="A013InsertSaveEntityMap">
		<result property="TOKUISAKI" column="TOKUISAKI" />
		<result property="MAISUU" column="MAISUU" />
		<result property="ASENBURIRAIN" column="ASENBURIRAIN" />
		<result property="KAKUTEIKUBUN" column="KAKUTEIKUBUN" />
		<result property="KIKAIMEISHOU" column="KIKAIMEISHOU" />
		<result property="BUHINMEISHOU" column="BUHINMEISHOU" />
		<result property="CHUUBUNSHONO" column="CHUUBUNSHONO" />
		<result property="SEISAKUSUU" column="SEISAKUSUU" />
		<result property="TANTOUSHA" column="TANTOUSHA" />
		<result property="KOUJIKANRIBANGOU" column="KOUJIKANRIBANGOU" />
		<result property="SHUKKANO" column="SHUKKANO" />
		<result property="JPYGOUKEIKINGAKU" column="JPYGOUKEIKINGAKU" />
		<result property="RMBGOUKEIKINGAKU" column="RMBGOUKEIKINGAKU" />
		<result property="USDGOUKEIKINGAKU" column="USDGOUKEIKINGAKU" />
		<result property="CHUUBUNSHOMEISAINO" column="CHUUBUNSHOMEISAINO" />
	</resultMap>
	<!-- null -->
	<insert id="A013InsertSaveData" >
		INSERT INTO BUHIN (TOKUISAKI,MAISUU,ASENBURIRAIN,KAKUTEIKUBUN,KIKAIMEISHOU,BUHINMEISHOU,CHUUBUNSHONO,SEISAKUSUU,TANTOUSHA,KOUJIKANRIBANGOU,SHUKKANO,JPYGOUKEIKINGAKU,RMBGOUKEIKINGAKU,USDGOUKEIKINGAKU,CHUUBUNSHOMEISAINO) VALUES (#{TOKUISAKI},#{MAISUU},#{ASENBURIRAIN},#{KAKUTEIKUBUN},#{KIKAIMEISHOU},#{BUHINMEISHOU},#{CHUUBUNSHONO},#{SEISAKUSUU},#{TANTOUSHA},#{KOUJIKANRIBANGOU},#{SHUKKANO},#{JPYGOUKEIKINGAKU},#{RMBGOUKEIKINGAKU},#{USDGOUKEIKINGAKU},#{CHUUBUNSHOMEISAINO})
	</insert>
</mapper>