<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A013.A013T101ClickupdateBUHINMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A013.A013T101ClickupdateBUHINEntity" id="A013T101ClickupdateBUHINEntityMap">
		<result property="CHUUBUNSHONO" column="CHUUBUNSHONO" />
	</resultMap>
	<!-- データ操作2:テーブル「部品」の項目「注文書NO」が値<注文書NO>,「注文書明細NO」が値「部品注文書明細NO」のデータに対して,項目「確定区分」を"1"に変更する -->
	<update id="A013T101ClickupdateBUHIN" >
		UPDATE BUHIN SET KAKUTEIKUBUN = '1'
			<where>
				 1 = 1 
				<if test="ay1_BUHINSYOUSAI_CHUUBUNSHONO != null and ay1_BUHINSYOUSAI_CHUUBUNSHONO != ''">
					 AND CHUUBUNSHONO  = #{ay1_BUHINSYOUSAI_CHUUBUNSHONO} 
				</if>
				<if test="BUHINCHUUBUNSHOMEISAINO != null and BUHINCHUUBUNSHOMEISAINO != ''">
					 AND CHUUBUNSHOMEISAINO  = #{BUHINCHUUBUNSHOMEISAINO} 
				</if>
			</where>
	</update>
</mapper>