<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A013.A013TANTOUSHA1SYAINMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A013.A013TANTOUSHA1SYAINEntity" id="A013TANTOUSHA1SYAINEntityMap">
		<result property="SHAINID" column="SHAINID" />
		<result property="SHAINMEI" column="SHAINMEI" />
	</resultMap>
	<!-- null -->
	<select id="A013TANTOUSHA1drp"  resultMap="A013TANTOUSHA1SYAINEntityMap">
		SELECT DISTINCT SHAINID,SHAINMEI FROM SYAIN
		 ORDER BY 1 
		 LIMIT 50
	</select>
</mapper>