<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A013.A013grdB16AC161ClickdeleteZAIKOUMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A013.A013grdB16AC161ClickdeleteZAIKOUEntity" id="A013grdB16AC161ClickdeleteZAIKOUEntityMap">
	</resultMap>
	<!-- データ操作3:テーブル「在庫」の項目「注文書NO」が「注文書NO」,「注文書明細NO」が「注文書明細NO」,「品番NO」が「品番Nohide」のデータを削除する -->
	<delete id="A013grdB16AC161ClickdeleteZAIKOU" >
		DELETE FROM ZAIKOU
			<where>
				 1 = 1 
				<if test="CHUUBUNSHONO1 != null and CHUUBUNSHONO1 != ''">
					 AND CHUUBUNSHONO  = #{CHUUBUNSHONO1} 
				</if>
				<if test="CHUUBUNSHOMEISAINO1 != null and CHUUBUNSHOMEISAINO1 != ''">
					 AND CHUUBUNSHOMEISAINO  = #{CHUUBUNSHOMEISAINO1} 
				</if>
				<if test="HINBANNO != null and HINBANNO != ''">
					 AND HINBANNO  = #{HINBANNO} 
				</if>
			</where>
	</delete>
</mapper>