<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A013.A013UpdateSaveMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A013.A013UpdateSaveEntity" id="A013UpdateSaveEntityMap">
		<result property="TOKUISAKI" column="TOKUISAKI" />
		<result property="MAISUU" column="MAISUU" />
		<result property="ASENBURIRAIN" column="ASENBURIRAIN" />
		<result property="KAKUTEIKUBUN" column="KAKUTEIKUBUN" />
		<result property="KIKAIMEISHOU" column="KIKAIMEISHOU" />
		<result property="BUHINMEISHOU" column="BUHINMEISHOU" />
		<result property="CHUUBUNSHONO" column="CHUUBUNSHONO" />
		<result property="SEISAKUSUU" column="SEISAKUSUU" />
		<result property="TANTOUSHA" column="TANTOUSHA" />
		<result property="KOUJIKANRIBANGOU" column="KOUJIKANRIBANGOU" />
		<result property="SHUKKANO" column="SHUKKANO" />
		<result property="JPYGOUKEIKINGAKU" column="JPYGOUKEIKINGAKU" />
		<result property="RMBGOUKEIKINGAKU" column="RMBGOUKEIKINGAKU" />
		<result property="USDGOUKEIKINGAKU" column="USDGOUKEIKINGAKU" />
		<result property="CHUUBUNSHOMEISAINO" column="CHUUBUNSHOMEISAINO" />
	</resultMap>
	<!-- null -->
	<update id="A013UpdateSaveData" >
		UPDATE BUHIN SET TOKUISAKI = #{TOKUISAKI},MAISUU = #{MAISUU},ASENBURIRAIN = #{ASENBURIRAIN},KAKUTEIKUBUN = #{KAKUTEIKUBUN},KIKAIMEISHOU = #{KIKAIMEISHOU},BUHINMEISHOU = #{BUHINMEISHOU},CHUUBUNSHONO = #{CHUUBUNSHONO},SEISAKUSUU = #{SEISAKUSUU},TANTOUSHA = #{TANTOUSHA},KOUJIKANRIBANGOU = #{KOUJIKANRIBANGOU},SHUKKANO = #{SHUKKANO},JPYGOUKEIKINGAKU = #{JPYGOUKEIKINGAKU},RMBGOUKEIKINGAKU = #{RMBGOUKEIKINGAKU},USDGOUKEIKINGAKU = #{USDGOUKEIKINGAKU},CHUUBUNSHOMEISAINO = #{CHUUBUNSHOMEISAINO}
			<where>
				 1 = 1 
				<if test="CHUUBUNSHONO1 != null and CHUUBUNSHONO1 != ''">
					 AND CHUUBUNSHONO  = #{CHUUBUNSHONO1} 
				</if>
				<if test="CHUUBUNSHOMEISAINO1 != null and CHUUBUNSHOMEISAINO1 != ''">
					 AND CHUUBUNSHOMEISAINO  = #{CHUUBUNSHOMEISAINO1} 
				</if>
				<if test="KOUJIKANRIBANGOU1 != null and KOUJIKANRIBANGOU1 != ''">
					 AND KOUJIKANRIBANGOU  = #{KOUJIKANRIBANGOU1} 
				</if>
			</where>
	</update>
</mapper>