<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A013.A013T7insertBUHINSYOUSAIRINJIHYOUMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A013.A013T7insertBUHINSYOUSAIRINJIHYOUEntity" id="A013T7insertBUHINSYOUSAIRINJIHYOUEntityMap">
		<result property="KYAKUSAKIMEISHOU" column="KYAKUSAKIMEISHOU" />
		<result property="ASENBURIRAIN" column="ASENBURIRAIN" />
		<result property="KIKAIMEISHOU" column="KIKAIMEISHOU" />
		<result property="BUHINMEISHOU" column="BUHINMEISHOU" />
		<result property="HINBANNO1" column="HINBANNO1" />
		<result property="SEISAKUSUU" column="SEISAKUSUU" />
		<result property="SHANAIKOUJIBANGOU" column="SHANAIKOUJIBANGOU" />
		<result property="TANTOUSHA" column="TANTOUSHA" />
		<result property="MAISUU" column="MAISUU" />
		<result property="HIDZUKE" column="HIDZUKE" />
		<result property="HINMEI" column="HINMEI" />
		<result property="KOSUU" column="KOSUU" />
		<result property="SOUKOSUU" column="SOUKOSUU" />
		<result property="ZAISHITSU_KEISHIKI" column="ZAISHITSU_KEISHIKI" />
		<result property="SEISAKUSHA" column="SEISAKUSHA" />
		<result property="TOUROKUSHAID" column="TOUROKUSHAID" />
		<result property="SEISAKUHINKUBUN" column="SEISAKUHINKUBUN" />
		<result property="DOUNYUUBANGOU" column="DOUNYUUBANGOU" />
		<result property="KIBOUNOUKI" column="KIBOUNOUKI" />
		<result property="HINBANNO" column="HINBANNO" />
	</resultMap>
	<!-- null -->
	<insert id="A013T7insertBUHINSYOUSAIRINJIHYOU" >
		INSERT INTO BUHINSYOUSAIRINJIHYOU (KYAKUSAKIMEISHOU,ASENBURIRAIN,KIKAIMEISHOU,BUHINMEISHOU,HINBANNO1,SEISAKUSUU,SHANAIKOUJIBANGOU,TANTOUSHA,MAISUU,HIDZUKE,HINMEI,KOSUU,SOUKOSUU,ZAISHITSU_KEISHIKI,SEISAKUSHA,TOUROKUSHAID,SEISAKUHINKUBUN,DOUNYUUBANGOU,KIBOUNOUKI,HINBANNO) VALUES (#{KYAKUSAKIMEISHOU},#{ASENBURIRAIN},#{KIKAIMEISHOU},#{BUHINMEISHOU},#{HINBANNO1},#{SEISAKUSUU},#{SHANAIKOUJIBANGOU},#{TANTOUSHA},#{MAISUU},#{HIDZUKE},#{HINMEI},#{KOSUU},#{SOUKOSUU},#{ZAISHITSU_KEISHIKI},#{SEISAKUSHA},#{TOUROKUSHAID},#{SEISAKUHINKUBUN},#{DOUNYUUBANGOU},#{KIBOUNOUKI},#{HINBANNO})
	</insert>
</mapper>