<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A013.A013AV101ClickselectSYAINMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A013.A013AV101ClickselectSYAINEntity" id="A013AV101ClickselectSYAINEntityMap">
		<result property="YUUZAAKENGEN" column="YUUZAAKENGEN" />
	</resultMap>
	<!-- データ操作1:テーブル「社員」のデータの項目「ユーザー権限」を取得,条件は「ログインID」がログインID -->
	<select id="A013AV101ClickselectSYAIN"  resultMap="A013AV101ClickselectSYAINEntityMap">
		SELECT YUUZAAKENGEN FROM SYAIN
			<where>
				 1 = 1 
				<if test="ROGUINID != null and ROGUINID != ''">
					 AND ROGUINID  = #{ROGUINID} 
				</if>
			</where>
		 ORDER BY 1 
		 LIMIT 50
	</select>
</mapper>