<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A010.A010W6deleteMITUMORIRINJIHYOUMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A010.A010W6deleteMITUMORIRINJIHYOUEntity" id="A010W6deleteMITUMORIRINJIHYOUEntityMap">
	</resultMap>
	<!-- null -->
	<delete id="A010W6deleteMITUMORIRINJIHYOU" >
		DELETE FROM MITUMORIRINJIHYOU
	</delete>
</mapper>