<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A010.A010W6afterselectKAISYAMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A010.A010W6afterselectKAISYAEntity" id="A010W6afterselectKAISYAEntityMap">
		<result property="KAISHAID" column="KAISHAID" />
	</resultMap>
	<!-- データ操作:テーブル「会社」の項目「会社.会社ID」を取得,条件は「会社名」が<客先> -->
	<select id="A010W6afterselectKAISYA"  resultMap="A010W6afterselectKAISYAEntityMap">
		SELECT KAISHAID FROM KAISYA
			<where>
				 1 = 1 
				<if test="MITUMORIRINJIHYOU_KYAKUSAKI != null and MITUMORIRINJIHYOU_KYAKUSAKI != ''">
					 AND KAISHAMEI  = #{MITUMORIRINJIHYOU_KYAKUSAKI} 
				</if>
			</where>
		 ORDER BY 1 
		 LIMIT 50
	</select>
</mapper>