<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A010.A010W2I00015PrintMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A010.A010W2I00015PrintEntity" id="A010W2I00015PrintEntityMap">
		<result property="MITSUMORI_MITSUMORISHONO1" column="MITSUMORI_MITSUMORISHONO1" />
		<result property="MITSUMORI_HINMEI2" column="MITSUMORI_HINMEI2" />
		<result property="MITSUMORI_GOUKEI3" column="MITSUMORI_GOUKEI3" />
		<result property="MITSUMORI_TEISHUTSUBI4" column="MITSUMORI_TEISHUTSUBI4" />
		<result property="CHUUBUNSHO_SHANAIKOUJIBANGOU5" column="CHUUBUNSHO_SHANAIKOUJIBANGOU5" />
		<result property="CHUUBUNSHO_KYAKUSAKITANTOU6" column="CHUUBUNSHO_KYAKUSAKITANTOU6" />
		<result property="SHAIN_SHAINMEI7" column="SHAIN_SHAINMEI7" />
		<result property="KAISHA_KAISHAMEI8" column="KAISHA_KAISHAMEI8" />
	</resultMap>
	<!-- null -->
	<select id="A010W2I00015Print"  resultMap="A010W2I00015PrintEntityMap">
		SELECT 
MITUMORI.MITSUMORISHONO AS MITSUMORI_MITSUMORISHONO1
,MITUMORI.HINMEI AS MITSUMORI_HINMEI2
,MITUMORI.GOUKEI AS MITSUMORI_GOUKEI3
,MITUMORI.TEISHUTSUBI AS MITSUMORI_TEISHUTSUBI4
,TYUMONSYO.SHANAIKOUJIBANGOU AS CHUUBUNSHO_SHANAIKOUJIBANGOU5
,TYUMONSYO.KYAKUSAKITANTOU AS CHUUBUNSHO_KYAKUSAKITANTOU6
,SYAIN.SHAINMEI AS SHAIN_SHAINMEI7
,KAISYA.KAISHAMEI AS KAISHA_KAISHAMEI8
 FROM MITUMORI
 LEFT JOIN TYUMONSYO ON MITUMORI.MITSUMORISHONO = TYUMONSYO.MITSUMORISHONO
 LEFT JOIN KAISYA ON TYUMONSYO.KYAKUSAKIID = KAISYA.KAISHAID
 LEFT JOIN SYAIN ON MITUMORI.SAKUSEISHA = SYAIN.SHAINID
 WHERE 1 = 1 
AND   CASE WHEN #{CHUUMONNO} IS NULL OR #{CHUUMONNO} = '' THEN 1 = 1 ELSE TYUMONSYO.CHUUBUNSHONO =  #{CHUUMONNO}  END 
AND CASE WHEN #{TANTOUSHAID} IS NULL OR #{TANTOUSHAID} = '' THEN 1 = 1 ELSE TYUMONSYO.TANTOUSHAID  =  #{TANTOUSHAID}  END 
AND CASE WHEN #{KYAKUSAKIID} IS NULL OR #{KYAKUSAKIID} = '' THEN 1 = 1 ELSE TYUMONSYO.KYAKUSAKIID  =  #{KYAKUSAKIID}  END 
AND CASE WHEN #{SHUKKOJOUTAI} IS NULL OR #{SHUKKOJOUTAI} = '' THEN 1 = 1 ELSE TYUMONSYO.SHUTSUNYUUKOFURAGU  =  #{SHUKKOJOUTAI}  END 
	</select>
</mapper>