<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A010.A010W6afterdeleteMITUMORIRINJIHYOUMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A010.A010W6afterdeleteMITUMORIRINJIHYOUEntity" id="A010W6afterdeleteMITUMORIRINJIHYOUEntityMap">
		<result property="MITSUMORINO" column="MITSUMORINO" />
		<result property="KOUMOKU" column="KOUMOKU" />
		<result property="SUURYOU" column="SUURYOU" />
		<result property="PRICE" column="PRICE" />
		<result property="GOLD" column="GOLD" />
		<result property="KAHEI" column="KAHEI" />
	</resultMap>
	<!-- データ操作:テーブル「見積り臨時表」の項目「記録者ID」がログインIDのデータを削除する -->
	<delete id="A010W6afterdeleteMITUMORIRINJIHYOU" >
		DELETE FROM MITUMORIRINJIHYOU
			<where>
				 1 = 1 
				<if test="ROGUINIDNODEETAWOSAKUJOSURU != null and ROGUINIDNODEETAWOSAKUJOSURU != ''">
					 AND KIROKUSHAID  = #{ROGUINIDNODEETAWOSAKUJOSURU} 
				</if>
			</where>
	</delete>
</mapper>