<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A010.A010grdC10AD101ClickselectNYUKINMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A010.A010grdC10AD101ClickselectNYUKINEntity" id="A010grdC10AD101ClickselectNYUKINEntityMap">
		<result property="RESHIITONO" column="RESHIITONO" />
	</resultMap>
	<!-- データ操作:テーブル「入金」の項目「レシートNO」を取得,条件は「注文書NO」が「注文書NO」 -->
	<select id="A010grdC10AD101ClickselectNYUKIN"  resultMap="A010grdC10AD101ClickselectNYUKINEntityMap">
		SELECT RESHIITONO FROM NYUKIN
			<where>
				 1 = 1 
				<if test="CHUUBUNSHONO != null and CHUUBUNSHONO != ''">
					 AND CHUUBUNSHONO  = #{CHUUBUNSHONO} 
				</if>
			</where>
		 ORDER BY 1 
		 LIMIT 50
	</select>
</mapper>