<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A007.A007grdB8AE81ClickupdateSYOUHINMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A007.A007grdB8AE81ClickupdateSYOUHINEntity" id="A007grdB8AE81ClickupdateSYOUHINEntityMap">
		<result property="ZAIKOSUURYOU" column="ZAIKOSUURYOU" />
	</resultMap>
	<!-- データ操作4:テーブル「商品」の項目「商品NO」が値「商品NO」のデータに対して,「在庫数量」を<在庫数量>に変更する -->
	<update id="A007grdB8AE81ClickupdateSYOUHIN" >
		UPDATE SYOUHIN SET ZAIKOSUURYOU = #{ay3_SYOUHIN_ZAIKOSUURYOU}
			<where>
				 1 = 1 
				<if test="SHOUHINNO != null and SHOUHINNO != ''">
					 AND SHOUHINNO  = #{SHOUHINNO} 
				</if>
			</where>
	</update>
</mapper>