<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A007.A007grdB8AE81ClickselectSYOUHINMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A007.A007grdB8AE81ClickselectSYOUHINEntity" id="A007grdB8AE81ClickselectSYOUHINEntityMap">
		<result property="ZAIKOSUURYOU" column="ZAIKOSUURYOU" />
	</resultMap>
	<!-- データ操作3:テーブル「商品」によるフィールド「在庫数量」を取得,条件はフィールド「商品NO」が画面項目「商品NO」 -->
	<select id="A007grdB8AE81ClickselectSYOUHIN"  resultMap="A007grdB8AE81ClickselectSYOUHINEntityMap">
		SELECT ZAIKOSUURYOU FROM SYOUHIN
			<where>
				 1 = 1 
				<if test="SHOUHINNO != null and SHOUHINNO != ''">
					 AND SHOUHINNO  = #{SHOUHINNO} 
				</if>
			</where>
		 ORDER BY 1 
		 LIMIT 50
	</select>
</mapper>