<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A003.A003InsertSaveMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A003.A003InsertSaveEntity" id="A003InsertSaveEntityMap">
		<result property="BUMONID" column="BUMONID" />
		<result property="BUMONMEI" column="BUMONMEI" />
	</resultMap>
	<!-- null -->
	<insert id="A003InsertSaveData" >
		INSERT INTO BUMON (BUMONID,BUMONMEI) VALUES (#{BUMONID},#{BUMONMEI})
	</insert>
</mapper>