<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A003.A003BUMONRepeatCheckMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A003.A003BUMONRepeatCheckEntity" id="A003BUMONRepeatCheckEntityMap">
		<result property="BUMONID" column="BUMONID" />
	</resultMap>
	<!-- null -->
	<select id="A003BUMONRepeatCheckselectBUMON"  resultMap="A003BUMONRepeatCheckEntityMap">
		SELECT BUMONID FROM BUMON
			<where>
				 1 = 1 
				<if test="BUMONID1 != null and BUMONID1 != ''">
					 AND BUMONID  = #{BUMONID1} 
				</if>
			</where>
		 ORDER BY 1 
		 LIMIT 50
	</select>
</mapper>