<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A011.A011W41ClickdeleteZAIKOUMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A011.A011W41ClickdeleteZAIKOUEntity" id="A011W41ClickdeleteZAIKOUEntityMap">
	</resultMap>
	<!-- データ操作:テーブル「在庫」の項目「注文書NO」が「注文書NO」,「出入庫状態」が"2"のデータを削除する -->
	<delete id="A011W41ClickdeleteZAIKOU" >
		DELETE FROM ZAIKOU
			<where>
				 1 = 1 
				<if test="CHUUBUNSHONO1 != null and CHUUBUNSHONO1 != ''">
					 AND CHUUBUNSHONO  = #{CHUUBUNSHONO1} 
				</if>
					 AND SHUTSUNYUUKOJOUTAI  = '2' 
			</where>
	</delete>
</mapper>