<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A011.A011Insert95GridSaveMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A011.A011Insert95GridSaveEntity" id="A011Insert95GridSaveEntityMap">
		<result property="KUBUN" column="KUBUN" />
		<result property="KOUMOKU" column="KOUMOKU" />
		<result property="SUURYOU" column="SUURYOU" />
		<result property="HANBAITANKA" column="HANBAITANKA" />
		<result property="KAHEI" column="KAHEI" />
		<result property="HANBAIKINGAKU" column="HANBAIKINGAKU" />
		<result property="TSUKAMATSUNYUUKINGAKUJPY" column="TSUKAMATSUNYUUKINGAKUJPY" />
		<result property="TSUKAMATSUNYUUKINGAKURMB" column="TSUKAMATSUNYUUKINGAKURMB" />
		<result property="TSUKAMATSUNYUUKINGAKUUSD" column="TSUKAMATSUNYUUKINGAKUUSD" />
		<result property="SHUKKOFURAGU" column="SHUKKOFURAGU" />
		<result property="CHUUBUNSHONO" column="CHUUBUNSHONO" />
		<result property="CHUUBUNSHOMEISAINO" column="CHUUBUNSHOMEISAINO" />
	</resultMap>
	<!-- null -->
	<insert id="A011Insert95GridSaveData" >
		INSERT INTO TYUMONSYOMEISAI (KUBUN,KOUMOKU,SUURYOU,HANBAITANKA,KAHEI,HANBAIKINGAKU,TSUKAMATSUNYUUKINGAKUJPY,TSUKAMATSUNYUUKINGAKURMB,TSUKAMATSUNYUUKINGAKUUSD,SHUKKOFURAGU,CHUUBUNSHONO,CHUUBUNSHOMEISAINO) VALUES (#{KUBUN},#{KOUMOKU},#{SUURYOU},#{HANBAITANKA},#{KAHEI},#{HANBAIKINGAKU},#{TSUKAMATSUNYUUKINGAKUJPY},#{TSUKAMATSUNYUUKINGAKURMB},#{TSUKAMATSUNYUUKINGAKUUSD},#{SHUKKOFURAGU},#{CHUUBUNSHONO},#{CHUUBUNSHOMEISAINO})
	</insert>
</mapper>