<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A011.A011O4I00017PrintMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A011.A011O4I00017PrintEntity" id="A011O4I00017PrintEntityMap">
		<result property="BUHIN_KOUJIKANRIBANGOU1" column="BUHIN_KOUJIKANRIBANGOU1" />
		<result property="BUHIN_TOKUISAKI2" column="BUHIN_TOKUISAKI2" />
		<result property="SHAIN_SHAINMEI3" column="SHAIN_SHAINMEI3" />
		<result property="CHUUBUNSHO_HINMEI4" column="CHUUBUNSHO_HINMEI4" />
		<result property="CHUUBUNSHO_MITSUMORISHONO5" column="CHUUBUNSHO_MITSUMORISHONO5" />
	</resultMap>
	<!-- null -->
	<select id="A011O4I00017Print"  resultMap="A011O4I00017PrintEntityMap">
		SELECT 
BUHIN.KOUJIKANRIBANGOU AS BUHIN_KOUJIKANRIBANGOU1
,BUHIN.TOKUISAKI AS BUHIN_TOKUISAKI2
,SYAIN.SHAINMEI AS SHAIN_SHAINMEI3
,TYUMONSYO.HINMEI AS CHUUBUNSHO_HINMEI4
,TYUMONSYO.MITSUMORISHONO AS CHUUBUNSHO_MITSUMORISHONO5
 FROM BUHIN
 LEFT JOIN TYUMONSYO ON BUHIN.CHUUBUNSHONO = TYUMONSYO.CHUUBUNSHONO
 LEFT JOIN SYAIN ON BUHIN.TANTOUSHA = SYAIN.SHAINID
 WHERE 1 = 1 
AND  BUHIN.CHUUBUNSHONO =  #{CHUUBUNSHONO1} 
	</select>
</mapper>