<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A011.A011W41ClickselectZAIKOU4Mapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A011.A011W41ClickselectZAIKOU4Entity" id="A011W41ClickselectZAIKOU4EntityMap">
		<result property="SHOUHINNO" column="SHOUHINNO" />
		<result property="SUURYOU" column="SUURYOU" />
	</resultMap>
	<!-- データ操作1:テーブル「在庫」のデータの項目「商品NO,数量」を取得,条件は「注文書NO」が「注文書NO」,「出入庫状態」が"2"(ループ開始) -->
	<select id="A011W41ClickselectZAIKOU4"  resultMap="A011W41ClickselectZAIKOU4EntityMap">
		SELECT SHOUHINNO,SUURYOU FROM ZAIKOU
			<where>
				 1 = 1 
				<if test="CHUUBUNSHONO1 != null and CHUUBUNSHONO1 != ''">
					 AND CHUUBUNSHONO  = #{CHUUBUNSHONO1} 
				</if>
					 AND SHUTSUNYUUKOJOUTAI  = '2' 
			</where>
		 ORDER BY 1 
		 LIMIT 50
	</select>
</mapper>