<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A011.A011TYUMONSYOMEISAIMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A011.A011TYUMONSYOMEISAIEntity" id="A011TYUMONSYOMEISAIEntityMap">
		<id property="CHUUBUNSHONO" column="CHUUBUNSHONO" />
		<id property="CHUUBUNSHOMEISAINO" column="CHUUBUNSHOMEISAINO" />
		<result property="KOUMOKU" column="KOUMOKU" />
		<result property="KUBUN" column="KUBUN" />
		<result property="SHOUHINNO" column="SHOUHINNO" />
		<result property="SUURYOU" column="SUURYOU" />
		<result property="HANBAITANKA" column="HANBAITANKA" />
		<result property="HANBAIKINGAKU" column="HANBAIKINGAKU" />
		<result property="TSUKAMATSUNYUUKINGAKURMB" column="TSUKAMATSUNYUUKINGAKURMB" />
		<result property="SHUKKOFURAGU" column="SHUKKOFURAGU" />
		<result property="SHUKKASUURYOU" column="SHUKKASUURYOU" />
		<result property="NYUUKASUURYOU" column="NYUUKASUURYOU" />
		<result property="BUHINUMU" column="BUHINUMU" />
		<result property="TSUKAMATSUNYUUKINGAKUJPY" column="TSUKAMATSUNYUUKINGAKUJPY" />
		<result property="TSUKAMATSUNYUUKINGAKUUSD" column="TSUKAMATSUNYUUKINGAKUUSD" />
		<result property="KAHEI" column="KAHEI" />
	</resultMap>
</mapper>