<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A011.A011PageAfterLoad1selectTYUMONSYOMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A011.A011PageAfterLoad1selectTYUMONSYOEntity" id="A011PageAfterLoad1selectTYUMONSYOEntityMap">
		<result property="SHUTSUNYUUKOFURAGU" column="SHUTSUNYUUKOFURAGU" />
	</resultMap>
	<!-- データ操作:テーブル「注文書」のデータの項目「出入庫フラグ」を取得,条件は「注文書NO」が「注文書NO」 -->
	<select id="A011PageAfterLoad1selectTYUMONSYO"  resultMap="A011PageAfterLoad1selectTYUMONSYOEntityMap">
		SELECT SHUTSUNYUUKOFURAGU FROM TYUMONSYO
			<where>
				 1 = 1 
				<if test="CHUUBUNSHONO1 != null and CHUUBUNSHONO1 != ''">
					 AND CHUUBUNSHONO  = #{CHUUBUNSHONO1} 
				</if>
			</where>
		 ORDER BY 1 
		 LIMIT 50
	</select>
</mapper>