<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A011.A011S4I00010PrintMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A011.A011S4I00010PrintEntity" id="A011S4I00010PrintEntityMap">
		<result property="CHUUBUNSHO_CHUUBUNSHONO1" column="CHUUBUNSHO_CHUUBUNSHONO1" />
		<result property="CHUUBUNSHO_HINMEI2" column="CHUUBUNSHO_HINMEI2" />
		<result property="CHUUBUNSHO_KYAKUSAKIBUSHO3" column="CHUUBUNSHO_KYAKUSAKIBUSHO3" />
		<result property="CHUUBUNSHO_KYAKUSAKITANTOU4" column="CHUUBUNSHO_KYAKUSAKITANTOU4" />
		<result property="CHUUBUNSHO_CHUUMONHIDZUKE5" column="CHUUBUNSHO_CHUUMONHIDZUKE5" />
		<result property="CHUUBUNSHO_NOUKIYOTEIBI6" column="CHUUBUNSHO_NOUKIYOTEIBI6" />
		<result property="CHUUBUNSHO_MITSUMORISHONO7" column="CHUUBUNSHO_MITSUMORISHONO7" />
		<result property="CHUUBUNSHO_MITSUMORIKINGAKU8" column="CHUUBUNSHO_MITSUMORIKINGAKU8" />
		<result property="CHUUBUNSHO_SHOUHINSOUGAKUJPY9" column="CHUUBUNSHO_SHOUHINSOUGAKUJPY9" />
		<result property="CHUUBUNSHO_NOUNYUUBI10" column="CHUUBUNSHO_NOUNYUUBI10" />
		<result property="SHAIN_SHAINMEI11" column="SHAIN_SHAINMEI11" />
		<result property="KAISHA_KAISHAMEI12" column="KAISHA_KAISHAMEI12" />
	</resultMap>
	<!-- null -->
	<select id="A011S4I00010Print"  resultMap="A011S4I00010PrintEntityMap">
		SELECT 
TYUMONSYO.CHUUBUNSHONO AS CHUUBUNSHO_CHUUBUNSHONO1
,TYUMONSYO.HINMEI AS CHUUBUNSHO_HINMEI2
,TYUMONSYO.KYAKUSAKIBUSHO AS CHUUBUNSHO_KYAKUSAKIBUSHO3
,TYUMONSYO.KYAKUSAKITANTOU AS CHUUBUNSHO_KYAKUSAKITANTOU4
,TYUMONSYO.CHUUMONHIDZUKE AS CHUUBUNSHO_CHUUMONHIDZUKE5
,TYUMONSYO.NOUKIYOTEIBI AS CHUUBUNSHO_NOUKIYOTEIBI6
,TYUMONSYO.MITSUMORISHONO AS CHUUBUNSHO_MITSUMORISHONO7
,TYUMONSYO.MITSUMORIKINGAKU AS CHUUBUNSHO_MITSUMORIKINGAKU8
,TYUMONSYO.SHOUHINSOUGAKUJPY AS CHUUBUNSHO_SHOUHINSOUGAKUJPY9
,TYUMONSYO.NOUNYUUBI AS CHUUBUNSHO_NOUNYUUBI10
,SYAIN.SHAINMEI AS SHAIN_SHAINMEI11
,KAISYA.KAISHAMEI AS KAISHA_KAISHAMEI12
 FROM TYUMONSYO
 LEFT JOIN KAISYA ON TYUMONSYO.KYAKUSAKIID = KAISYA.KAISHAID
 LEFT JOIN SYAIN ON TYUMONSYO.TANTOUSHAID = SYAIN.SHAINID
 WHERE 1 = 1 
AND TYUMONSYO.CHUUBUNSHONO =  #{CHUUBUNSHONO1} 
	</select>
</mapper>