<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A011.A011grdB18W181ClickselectBUHINMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A011.A011grdB18W181ClickselectBUHINEntity" id="A011grdB18W181ClickselectBUHINEntityMap">
		<result property="CHUUBUNSHONO" column="CHUUBUNSHONO" />
	</resultMap>
	<!-- データ操作:テーブル「部品」のデータの項目「注文書NO」を取得,条件は「注文書NO」が「注文書NO」,「注文書明細NO」が「注文書明細NO」 -->
	<select id="A011grdB18W181ClickselectBUHIN"  resultMap="A011grdB18W181ClickselectBUHINEntityMap">
		SELECT CHUUBUNSHONO FROM BUHIN
			<where>
				 1 = 1 
				<if test="CHUUBUNSHONO1 != null and CHUUBUNSHONO1 != ''">
					 AND CHUUBUNSHONO  = #{CHUUBUNSHONO1} 
				</if>
				<if test="CHUUBUNSHOMEISAINO != null and CHUUBUNSHOMEISAINO != ''">
					 AND CHUUBUNSHOMEISAINO  = #{CHUUBUNSHOMEISAINO} 
				</if>
			</where>
		 ORDER BY 1 
		 LIMIT 50
	</select>
</mapper>