<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A009.A009InsertSaveMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A009.A009InsertSaveEntity" id="A009InsertSaveEntityMap">
		<result property="KYAKUSAKIID" column="KYAKUSAKIID" />
		<result property="TANTOUSHAID" column="TANTOUSHAID" />
		<result property="RESHIITONO" column="RESHIITONO" />
		<result property="CHUUBUNSHONO" column="CHUUBUNSHONO" />
		<result property="KANTOKU" column="KANTOKU" />
		<result property="CHUUMONHIDZUKE" column="CHUUMONHIDZUKE" />
		<result property="NYUUKINKINGAKU" column="NYUUKINKINGAKU" />
		<result property="JISSAINYUUKINJOUTAI" column="JISSAINYUUKINJOUTAI" />
	</resultMap>
	<!-- null -->
	<insert id="A009InsertSaveData" >
		INSERT INTO NYUKIN (KYAKUSAKIID,TANTOUSHAID,RESHIITONO,CHUUBUNSHONO,KANTOKU,CHUUMONHIDZUKE,NYUUKINKINGAKU,JISSAINYUUKINJOUTAI) VALUES (#{KYAKUSAKIID},#{TANTOUSHAID},#{RESHIITONO},#{CHUUBUNSHONO},#{KANTOKU},#{CHUUMONHIDZUKE},#{NYUUKINKINGAKU},#{JISSAINYUUKINJOUTAI})
	</insert>
</mapper>