<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A009.A009UpdateSaveMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A009.A009UpdateSaveEntity" id="A009UpdateSaveEntityMap">
		<result property="KYAKUSAKIID" column="KYAKUSAKIID" />
		<result property="TANTOUSHAID" column="TANTOUSHAID" />
		<result property="RESHIITONO" column="RESHIITONO" />
		<result property="CHUUBUNSHONO" column="CHUUBUNSHONO" />
		<result property="KANTOKU" column="KANTOKU" />
		<result property="CHUUMONHIDZUKE" column="CHUUMONHIDZUKE" />
		<result property="NYUUKINKINGAKU" column="NYUUKINKINGAKU" />
		<result property="JISSAINYUUKINJOUTAI" column="JISSAINYUUKINJOUTAI" />
	</resultMap>
	<!-- null -->
	<update id="A009UpdateSaveData" >
		UPDATE NYUKIN SET KYAKUSAKIID = #{KYAKUSAKIID},TANTOUSHAID = #{TANTOUSHAID},RESHIITONO = #{RESHIITONO},CHUUBUNSHONO = #{CHUUBUNSHONO},KANTOKU = #{KANTOKU},CHUUMONHIDZUKE = #{CHUUMONHIDZUKE},NYUUKINKINGAKU = #{NYUUKINKINGAKU},JISSAINYUUKINJOUTAI = #{JISSAINYUUKINJOUTAI}
			<where>
				 1 = 1 
				<if test="RESHIITONO1 != null and RESHIITONO1 != ''">
					 AND RESHIITONO  = #{RESHIITONO1} 
				</if>
			</where>
	</update>
</mapper>