<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A009.A009Delete61GridSaveMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A009.A009Delete61GridSaveEntity" id="A009Delete61GridSaveEntityMap">
	</resultMap>
	<!-- null -->
	<delete id="A009Delete61GridSaveData" >
		DELETE FROM NYUKINMEISAI
			<where>
				 1 = 1 
				<if test="RESHIITONO != null and RESHIITONO != ''">
					 AND RESHIITONO  = #{RESHIITONO} 
				</if>
				<if test="RESHIITOMEISAINO != null and RESHIITOMEISAINO != ''">
					 AND RESHIITOMEISAINO  = #{RESHIITOMEISAINO} 
				</if>
			</where>
	</delete>
</mapper>