<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A009.A009Update61GridSaveMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A009.A009Update61GridSaveEntity" id="A009Update61GridSaveEntityMap">
		<result property="SHIHARAIHIDZUKE" column="SHIHARAIHIDZUKE" />
		<result property="SHIHARAIWARIAI" column="SHIHARAIWARIAI" />
		<result property="FURIDASHIZUMIHIDZUKE" column="FURIDASHIZUMIHIDZUKE" />
		<result property="FURIDASHIZUMIKINGAKU" column="FURIDASHIZUMIKINGAKU" />
		<result property="FURIDASHIZUMIWARIAI" column="FURIDASHIZUMIWARIAI" />
		<result property="NYUUKINZUMIHIDZUKE" column="NYUUKINZUMIHIDZUKE" />
		<result property="NYUUKINZUMIKINGAKU" column="NYUUKINZUMIKINGAKU" />
		<result property="NYUUKINZUMIWARIAI" column="NYUUKINZUMIWARIAI" />
		<result property="RESHIITOMEISAINO" column="RESHIITOMEISAINO" />
		<result property="RESHIITONO" column="RESHIITONO" />
	</resultMap>
	<!-- null -->
	<update id="A009Update61GridSaveData" >
		UPDATE NYUKINMEISAI SET SHIHARAIHIDZUKE = #{SHIHARAIHIDZUKE},SHIHARAIWARIAI = #{SHIHARAIWARIAI},FURIDASHIZUMIHIDZUKE = #{FURIDASHIZUMIHIDZUKE},FURIDASHIZUMIKINGAKU = #{FURIDASHIZUMIKINGAKU},FURIDASHIZUMIWARIAI = #{FURIDASHIZUMIWARIAI},NYUUKINZUMIHIDZUKE = #{NYUUKINZUMIHIDZUKE},NYUUKINZUMIKINGAKU = #{NYUUKINZUMIKINGAKU},NYUUKINZUMIWARIAI = #{NYUUKINZUMIWARIAI},RESHIITOMEISAINO = #{RESHIITOMEISAINO},RESHIITONO = #{RESHIITONO}
			<where>
				 1 = 1 
				<if test="RESHIITONO1 != null and RESHIITONO1 != ''">
					 AND RESHIITONO  = #{RESHIITONO1} 
				</if>
				<if test="RESHIITOMEISAINO1 != null and RESHIITOMEISAINO1 != ''">
					 AND RESHIITOMEISAINO  = #{RESHIITOMEISAINO1} 
				</if>
			</where>
	</update>
</mapper>