/* -------------------------------------------------------------------------headerー--- */
.hradnavi {
	padding-bottom: 8px;
	background-image: url(../images/headbg.png);
	background-repeat: repeat-x;
	background-position: center top;
}
.head_app {
	display: inline-table;
	margin-top: 0px;
}
.head_app li{
	vertical-align: baseline;
	padding-right: 20px;
	display: table-cell;
}
.head_app .logo {
	width: 119px;
	height: 19px;
	margin: 0px 0px 0px 12px;
	padding: 0px;
	overflow: hidden;
	float: left;
}
.head_app .logo img{top: 0px;position: relative;}
.head_app .appver {
	color: #169cd2;
	padding-left: 20px;
	font-weight: bold;
}
.head_app .refresh .fa-refresh{
	color: #F00;
	font-size: 20px;
}
.head_app .refresh:hover .fa-refresh {
	color: #F00;
	font-size: 20px;
}
.head_app .cssin {display:inline-block;}
.head_app .cssout {display: none;}
.cssin a, .cssout a {color: #fff;font-size:18px;}
.cssin a:hover, .cssout a:hover {color: #ccc;text-decoration: none;}

/* --------------------------------------------------------dropdown menuー--*/

.Dropnav {
	position: relative;
	display: inline-table;
	text-align: right;
	vertical-align: middle;
	z-index: 200;
	float: right;
	margin-top: 0px;
}


/* Dropdown Content */
.DropdownContent {
	display: inline-block;
}

.DropdownContent>label {
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding: 0 10px;
	color: #c5c5c5;
	font-size: 18px;
}

.DropdownContent>label:hover {
	color: #E6E6E6
}

.DropdownContent>label:after {
  content: "";
  display: block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #c4c4c4;
  position: absolute;
  bottom: -15px;
  visibility: hidden
}
.DropdownContent.active>label { color: #E6E6E6 }
.DropdownContent.active>label:after { visibility: visible }
.DropdownContent>.inner {
	position: fixed;
	-webkit-box-shadow: 0px 0px 4px 1px #e8e8e8;
	box-shadow: 0px 0px 4px 1px #e8e8e8;
	border: 1px solid #ccc;
	visibility: hidden;
	margin-top: 15px;
	background-color: #FFF;
}
.DropdownContent .userphoto img{
	border-radius: 50%;
	width: 32px;
	height: 32px;
}
.DropdownContent.active .inner { visibility: visible }

/*-- menu icon --*/
.menuicon, .infomation, .account {
	width: 318px;
	text-align: left;
}
.dntitle {
	text-align: center;
	margin-bottom: 10px;
}
.menuicon {
	padding-top: 36px;
	padding-right: 29px;
	padding-bottom: 36px;
	padding-left: 29px;
}
.menuicon ul{}
.menuicon ul li{
	border: 1px solid #fff;
	height: 86px;
	width: 86px;
	text-align: center;
	float: left;
	padding-top: 10px;
}
.menuicon ul li:hover{
	border: 1px solid #CCC;
}
.menuicon ul li span {
	font-size: 10px;
	display: block;
	white-space: nowrap;
}
.DropdownContent .Mnewmessage {
	font-size: 5px !important;
	font-weight: bold;
	color: #FFF;
	background-color: #F00;
	padding: 0px 3px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	display: inline-block;
	position: relative;
	top: 0px;
	right: 10px;
}

.menuicon ul li .newmessage {
	font-size: 5px !important;
	font-weight: bold;
	color: #FFF;
	background-color: #F00;
	padding: 0px 3px;
	position: relative;
	top: -66px;
	left: 10px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	display: inline-block;
	box-shadow:4px 4px 5px -3px #dedede;
-moz-box-shadow:4px 4px 5px -3px #dedede;
-webkit-box-shadow:4px 4px 5px -3px #dedede;
}
/*-- imformation --*/
.infomation {
	padding-top: 10px;
}
.infomation dl {max-height:300px;
	overflow:scroll;overflow-x: hidden;}
.infomation dt {
	background-color: #f2f2f2;
	font-size: 10px;
	padding: 5px 10px 3px;
	margin-bottom: 5px;
}
.infomation dd {
	margin-bottom: 10px;
	padding: 5px 10px 10px;
	border-bottom: 1px dotted #CCC;
}
/*-- account --*/
.account {
	padding: 20px;
}
.account dt{
	float: left;
	
}
.account dt img {
	border-radius: 50%;
	width: 96px;
	height: 96px;
}
.account dd{
	white-space: pre;
	display: block;
	padding-left: 116px;
}
.account dd span {
	margin-bottom: 1em;
}
.account dd .logintitle {
	white-space: nowrap;
	float: left;
	width: 70px;
}
.account dd .loginuser {
	display: block;
	white-space: normal !important;
	font-weight: bold;
	padding-left: 75px;
	width: 160px;
}
/* --botton------------------------------------------------------- */
.submit{
    border:1px solid #777;
    padding: 4px 10px;
    color: #fff;
    cursor: pointer;
    background: #428ec9;
    border-radius: 5px;
     
/* Webkit */
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#99c9e5),
        to(#428ec9)
        );
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px #fff;
         
/* Firefox */
    background: -moz-linear-gradient(
        top,
        #99c9e5,
        #428ec9
        );
    -moz-border-radius: 5px;
    -moz-box-shadow: 1px 1px 1px #fff;
     
/* IE */
    filter:progid:DXImageTransform.Microsoft.gradient
        (startColorstr=#ff99c9e5,endColorstr=#ff428ec9);
    zoom: 1;
}

/* -------------------------------------------------------tab menu-- */
.tabnav {
	width: 100%;
	height: 29px;
	margin: 0 auto;
	z-index: 103;
	display: table;
	padding-left: 1px;
}
ul#mainmenu {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	background-color: #FFF;
}
 
ul#mainmenu li {
	margin: 0;
	padding: 0;
	border-right: 1px solid #fff;
	position: relative;
	float: left;
	width: 12.5%;
	text-align: center;
}
 
ul#mainmenu li.last-child {
    border-right:none;
}
 
ul#mainmenu li a {
	padding: 10px;
	background-color: #0092ca;
	display: block;
	color: #fff;
	text-decoration: none;
	line-height: 1em;
	background-image: url(../images/menu_cool_bg.png);
	border-top: 1px solid #0092ca;
	border-right: 1px solid #0092ca;
	border-left: 1px solid #0092ca;
	border-bottom-width: 0px;
	border-bottom-style: solid;
}
ul#mainmenu li ul li a {
	background-image: url(../images/menu_bg02.png);
}
ul#mainmenu li a:hover,
ul#mainmenu li a.open {
    background-image: url(../images/menu_bg03.png);
}
 
ul#mainmenu li ul {
	margin-left: 0;
	padding-top: 1px;
	list-style: none;
	position: absolute;
	left: 0;
	z-index: 999;
	width: 100%;
	background-color: #FFF;
}
 
ul#mainmenu li ul li {
	padding-bottom: 1px;
	border-right: none;
	float: none;
	width: 100%;
}
 
ul#mainmenu li ul li ul {
    padding-top:0;
    padding-left:1px;
    position:absolute;
    top:0;
    left:100%;
}
ul#mainmenu .Maroow a{
	background-image: url(../images/pic04.png);
	background-repeat: no-repeat;
	background-position: right 10px top 12px;
}
ul#mainmenu .fa {float: right;}
#mainmenu li:last-child ul li ul {
  left: -100%;
  width: 100%;
}
