.datagrid td, .datagrid th {
	margin: 0px;
	border-bottom: 1px solid #ABABAB;
}
/*table.datagrid {
	table-layout: fixed;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0 0 0 0;
}*/
table.datagrid td:first-child {
  border-left: 1px solid #CCCCCC;
}
table.datagrid td.hasobject {
	padding: 0px 1px 0px;
	overflow: hidden;
	white-space: nowrap;
	border-right: 1px solid #CCCCCC;
	vertical-align: middle;
}
/* hasobject */
table.datagrid td.o {
	padding: 0px 0px 0px;
	overflow: hidden;
	white-space: nowrap;
	border-right: 1px solid #CCCCCC;
	vertical-align: middle;
	text-align:center;
}
table.datagrid td.label {
	padding: 0px 1px;
	/*overflow: hidden;*/
	/*white-space: nowrap;*/
	word-break: break-all;
	border-right: 1px solid #CCCCCC;
	vertical-align: middle;
}
/* label */
table.datagrid td.l {
	padding: 0px 3px;/*padding: 0px 3px;*/
	overflow: hidden;
	white-space: nowrap;
	border-right: 1px solid #CCCCCC;
	vertical-align: middle;
}
table.datagrid tr  {
	height: 25px;
}

table.datagrid th  {
	font-weight: normal;
	border-right: 1px solid #CCCCCC;
	font-size: 9pt;
	vertical-align: middle;
}
table.datagrid option {
	color: #222222;
	/*font-size: 12pt;*/
	vertical-align: top;
}
.grid-loading {
	background: #E3E3E3 url('../images/ingrid/load-bg.png');
	display: block;
	opacity:.50;	
	-moz-opacity:.50;
	filter:alpha(opacity=50);
	text-align: center;
}
.grid-loading div {
	width: 100%;
	height: 100%;
	display: block;
	background: url('../images/ingrid/indicator_web20_working.gif') no-repeat center center;
}
.grid-header-bg th {
	background: #E3E3E3 url('../images/ingrid/grid-hrow.gif') repeat-x bottom;
	text-align: center;
}

.grid-row-selected { background-color: #A8FFB1 !important; }
.grid-row-style1 { background-color: #FFFFFF; }
.grid-row-style2 { background-color: #EEF6FF; }
.grid-row-style3 { background-color: #EEEEEE; }

.grid-row-hover {
	background-color: #FFFFBB;
}
.grid-row-sel {
	background-color: green;
	border-bottom: 1px solid #333333;
}
.grid-row-sel td {
	color: #990000;
}
table.datagrid td.grid-custom-col {
	color: #333333;
	background-color:red;
	text-align:right;
}

table.datagrid th div.grid-col-resize {
	background: url('../images/ingrid/grid-split.gif') center right;
	cursor:col-resize;
	width: 2px;
	height:25px;
	font-size:1px;
	float: right;
	display: block;
	text-indent:-1000px;
	overflow:hidden;
}

table.datagrid thead {
	
}

/*
Column Sorting Styles
*/
.grid-sort-asc {
	background: url('../images/ingrid/sort-asc.png') no-repeat center left;
	display: block;
	height: 18px;
	padding: 5px 4px 0 4px;
	cursor: pointer;
	width:10px;
	float: left;
	position: absolute;
	top: 5px;	
}
.grid-sort-desc {
	background: url('../images/ingrid/sort-desc.png') no-repeat center left;
	display: block;
	height: 18px;
	padding: 5px 4px 0 4px;
	cursor: pointer;
	width:10px;
	float: left;
	position: absolute;
	top: 5px;	
}
.grid-sort-none {
	background: url('../images/ingrid/sort-none.png') no-repeat center left;
	display: block;
	height: 18px;
	padding: 5px 4px 0 3px;
	cursor: pointer;
	width:10px;
	float: left;
	position: absolute;
	top: 5px;
}
.grid-sort-disable {
	display: block;
	height: 18px;
	padding: 5px 4px 0 4px;
	width:10px;
	float: left;
	position: absolute;
	top: 0px;
}
/* fix column anchor */
.tbl_design01 th:first-child .grid-fixcolumn {
	background-image: none;
}
.tbl_design01 {
  border-radius:0 5px 0 0;
  border-right:1px solid #0092ca;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
  border-top: 1px solid #0092ca;
  /*display: inline-block;*/
  border-radius: 5px 5px 0 0;
}
.tbl_design01 th {
	position:relative;
}
.grid-fixcolumn {
	background: url('../images/ingrid/pin.png') no-repeat center left;
	display: inline;
	height: 18px;
	width: 16px;
	padding: 2px 0px 0 4px;
	cursor: pointer;
	clear: both;
	float: right;
	position: absolute;
	margin-left: -12px;
	right: 3px;
}
/*
Paging Control Styles
*/

/* paging control footer toolbar page form (pform) */
.grid-page-toolbar form {
	margin: 0;
}
/* first page button (pb1) */
.grid-page-start {
	background: url('../images/ingrid/page-first.png') no-repeat center;
	display: block;
	float:left;
	margin:2px;	
	width: 16px;
	height: 16px;
	text-indent: -1000px;
	overflow: hidden;
	margin-left: 10px;
}
/* previous page button (pb2) */
.grid-page-prev {
	background: url('../images/ingrid/page-prev.png') no-repeat center;
	display: block;
	float:left;
	margin:3px;
	width: 16px;
	height: 16px;
	text-indent: -1000px;
	overflow: hidden;
}
/* next page button (pb3) */
.grid-page-next {
	background: url('../images/ingrid/page-next.png') no-repeat center;
	display: block;
	float:left;
	margin:3px;
	width: 16px;
	height: 15px;
	text-indent: -1000px;
	overflow: hidden;
}
/* last page button (pb4) */
.grid-page-end {
	background: url('../images/ingrid/page-last.png') no-repeat center;
	display: block;
	float:left;
	margin:3px;
	width: 16px;
	height: 15px;
	text-indent: -1000px;
	overflow: hidden;
}
/* loading indicator graphic (pload) */
.grid-page-loading {
	background: url('../images/ingrid/grid-loading.gif') no-repeat center;
	display: block;
	float:left;
	margin:3px;
	width: 16px;
	height: 16px;
	text-indent: -1000px;
	overflow: hidden;
}
/* loading done indicator graphic (pload) */
.grid-page-loading-done {
	background: url('../images/ingrid/grid-loading-done.gif') no-repeat center;
}
/*.grid-page-addrow {
	background: url('/images/ingrid/adddata.gif') no-repeat center;
	display: block;
	float:left;
	margin:3px;
	width: 16px;
	height: 16px;
	text-indent: -1000px;
	overflow: hidden;
}
.grid-page-delrow {
	background: url('/images/ingrid/deldata.gif') no-repeat center;
	display: block;
	float:left;
	margin:3px;
	width: 16px;
	height: 16px;
	text-indent: -1000px;
	overflow: hidden;
}*/
/* page info text around textbox (pinfo) */
.grid-page-info {
	font: 11px Tahoma;
	display: block;
	float:left;
	color: #fff;/*#575757;*/
}
/* viewing rows x of y text message (pv) */
.grid-page-viewing-records-info {
	font: 11px Tahoma;
	color: #575757;	
	display: block;
	float: right;
	padding: 0px 10px 0 0;
	margin: 3px 10px 0 0;
}
/* page input field (pfld) */
.grid-page-input {
	font: 11px Tahoma;
	width: 30px;
	padding: 1px; 
	border: 1px inset;  
}
.grid-col-char {
		text-align: left;
		font-size: 9pt;
}
.grid-col-center {
		text-align: center;	
		font-size: 9pt;
}
.grid-col-num {
		text-align:right;
		padding: 1px;
		font-size: 9pt;
}
.grid-col-ctrl {
		text-align: center;
}
/* grid-col-char */
.g1 {
		text-align: left;
		font-size: 9pt;
}
/* grid-col-center */
.g2 {
		text-align: center;	
		font-size: 9pt;
}
/* grid-col-num */
.g3 {
		text-align:right;
		padding: 2px;
		font-size: 9pt;
}
/* grid-col-ctrl */
.g4 {
		text-align: center;
}
.g5 {
		text-align: right;
		font-size: 9pt;
}
div.blueGradientBgcolor {
	background: -webkit-linear-gradient(top, rgba(34, 85, 136, .7), rgba(34, 85, 136, .9));
    background: -moz-linear-gradient(
		top,
		rgba(34, 85, 136, .7) 0%,
		rgba(34, 85, 136, .9))!important;
   background: -webkit-gradient(
		linear, left top, left bottom,
		from(rgba(34, 85, 136, .7)),
		to(rgba(34, 85, 136, .9)))!important;
    background: -ms-linear-gradient(top, rgba(34, 85, 136, .7) 0%,rgba(34, 85, 136, .9) 100%)!important;
}