
@media screen and (max-width: 1920px) and(min-width: 1366px){ 
.bootom .wd1440{ width:1440px; margin:0 auto;}
.index1_wap{ display:none;}
}
@media screen and (max-width: 1366px) { 
.bootom .wd1440{ width:auto;}
.index1_wap{ display:none;}
.denglu_box_cot{ margin:-250px 0 0 -280px;}
.register_login a{ line-height:48px; height:48px;}
.login_box{ margin:10px auto;}
.jScrollbar{ height:300px;}
.jScrollbar .jScrollbar_draggable{ height:300px;}
.login_box .input_list { line-height:35px; height:35px;}
.login_box .input_list .text{ line-height:35px;}
}
@media screen and (max-width: 1280px) { 
	.nav{ width:100%;}
	.nav ul{ margin-right:125px;}
	.nav ul li{ margin:0 15px;}
	.nav ul li a{ font-size:14px;}
	.index2_con{ width:100%;}
	.index2 .box2 .left{ width:45%;}
	.index2 .box2 .right{ width:50%;}
	.index2 .box2 .right a{ display:inline-block; margin:0;}
	.index2_con{ padding-left:10px; padding-right:10px;}
	.index3_con{ width:auto; padding-left:10px; padding-right:10px;}
	
	/*产品特性*/
	.xtjs_list{padding-left:10px; padding-right:10px;}
	.xtjs_list .left_txt{width:50%;}
	.xtjs_list .pic{width:46%; overflow:hidden;}
	.xtjs_list .pic img{min-width:300px;}
	.xs_gn{padding:0 10px;}
	.gn_table table .td3 .left,.gn_table table .td3 .right{width:45%; padding:0 2.5%; box-sizing:border-box;} 
	
	.xxjs_list{width:48%;}
	.xxjs_tit{width:100%;}
	
	.fenli_nr_list li{width:48%; padding:16px 0; border:25px solid #ffffff; box-sizing:border-box; border-top:none; border-bottom:none; height:auto;}
	
	.dy_left{display:none;}
	.dy_right{width:100%; padding:0;}
	.dy_right .date{padding:0 10px;}
	.dy_right_cot{padding:0 10px;}
	
	.xqfb{padding:0 10px;}
	.xqfb .box2 li{width:30%; margin:0 1.6% 25px 1.6%;}
	.hzhb_list li .hz_pic{ box-sizing:border-box; width:100%;}
	.hzhb_list li{margin:0 1.5%; width:22%;}
	.index1_wap{ display:none;}
	
}

@media screen and (max-width: 1080px) { 

	.service_con{width:100%;}
	.service_list{width:22%; margin:0 1.5%;}
	.name_price{width:100%;}
	.index1_wap{ display:none;}
	
}
@media screen and (max-width: 1024px) { 
	.wap_top{ display:block;}
	.service_con{width:100%;}
	.top_nav{ display:none;}
	.service_list{width:22%; margin:0 1.5%;}
	.name_price{width:100%;}
	.index2_con{ width:98%;}
	.dl_ren img{ right:10px;height:25px; top:12px; position:absolute; height:25px; width:auto;}
	.index1_wap{ display:none;}
}

@media screen and (max-width: 960px) { 
	
	.service_list{width:47%; margin:10px 1.5%;}
	.index1_wap{ display:none;}
	

} 

@media screen and (max-width: 768px) {
	.rt_xf{ display:none;}
	.index1_wap{ display:block;}
	.wap_hide{ display:none;}
	.wd1200{ padding:0 10px;}
	.top_nav{ display:none;}
    .wap_top{ display:block;}
	.ny_con{ padding-top:70px;}
	.ny_bt{ font-size:20px; line-height:45px; padding-bottom:20px;}
	.serchBox{ width:100%;}
	.ny_tb{ padding-bottom:20px;}
	.serchBox .text{ width:84%;}
	.dl_ren img{ height:25px; top:12px; position:absolute; height:25px; width:auto; right:10px;}
	.wap_slide{ width:100%; height:34px; overflow:hidden;}
	.fenli_tabs ul li a{ width:80px; margin:0 3px;}
	.fenli_tabs ul li.selected a{ width:95px;}
	.video_list li{ padding-left:0; padding-right:0; padding-top:0;}
	.video_list{ margin-top:20px;}
	.video_list li .shipin{ position:relative; width:100%; left:0; height:auto;}
	.video_list li .shipin img{ width:100%;}
	.index1{ height:auto;/* padding:80px 10px 50px;*/ width:100%; /*background-image:url(../images/banner_m.jpg);*/ display:none;}
	.video_list li .tit{ padding-top:25px;}
	.js-zc{ width:602px; height:34px; overflow:hidden;}
	.js-zc a{ width:150px; padding:0; margin:0; float:left; font-size:14px;}
	.index1_con h3{ font-size:24px; line-height:40px;}
	.index1_con .txt1{ line-height:35px; font-size:16px;}
	.index1_con{ width:100%; margin: 0;}
	.index1_con .txt2{ font-size:14px;}
	.bootom .wd1440{ padding:0 10px; width:auto;}
	.index2_con{ padding:0 10px 125px; width:auto;}
	.index2 .box1 .num{ font-size:18px; line-height:55px;}
	.index2 .box1 a{ font-size:14px;}
	.index2{ height:auto;}
	.index2 .box1{ font-size:14px; height:auto;}
	.index2 .box2 .left .span1{ font-size:20px; line-height:36px;}
	.index2 .box2{ margin-top:20px; height:auto;}
	.index2 .box2 .left{ width:auto; border:none;}
	.index2 .box2 .left .span2{ font-size:16px;}
	.index2 .box2 .right{ width:auto; font-size:12px; line-height:24px; margin-top:15px;}
	.index2 .box2 .right a{ margin:20px auto 0;}
	.index2 .box3 { margin-top:20px;}
	.index2 .box3 .tabs li{ background-color:rgba(255,255,255,0.12); height:35px; line-height:35px; width:100px; font-size:14px;}
	.index2 .box3 .tabs {width:100%; height:35px; overflow-x:scroll;}
	.index2 .box3 .tabs_con .section{ font-size:12px; margin-top:20px; line-height:24px;}
	.index3_con h3{ font-size:20px; padding-top:20px; line-height:35px;}
	.index3_con .intro{ font-size:14px; line-height:32px; padding-bottom:10px;}
	.index3_con,.index6_con{ width:auto; padding:0 10px 35px;}
	.index3_con .txt{ font-size:12px; line-height:24px;}
	.index4_con, .index5_con{ width:auto; padding:0 10px 35px;}
	.index4_con h3, .index6_con h3,.index5_con h3{ font-size:20px; line-height:35px; padding-top:20px;}
	.index4_con .intro, .index6_con .intro, .index5_con .intro{ font-size:14px; line-height:32px; padding-bottom:10px;}
	.index4_con .txt, .index6_con .txt, .index5_con .txt{ font-size:12px; line-height:24px;}
	.index4_con .steps_con{ margin-top:20px;}
	.index4_con .steps_con .button{ margin-top:20px;}
	.index4_con .steps_con .button a{ font-size:12px; line-height:28px;}
	.index4_con .steps_con .button .txt{ font-size:16px;}
	.index4,.index6{ height:auto;}
	.index5_con .main_con .text{ width:auto;}
	.bootom .logo img{ height:36px;}
	.bootom .txt{ font-size:12px; line-height:25px;}
	.bootom{ height:auto; padding:0 10px 20px;}
	.index3_con .shiyong, .index5_con .shiyong{ height:35px; line-height:35px;}
	.jianshe{ line-height:33px;}
	.main_con .pic{ width:100%; text-align:center;}
	.index5_con .main_con .text{ float:left; margin-top:20px;}
	.zhifubao{ padding:0 10px;}
	.zfb_con{ padding-left:0;}
	.zfb_ewm{ position:relative; text-align:center;}
	.dy_right{line-height:32px;}
	
	.xqfb .box2 li{width:46%; margin:0 2% 25px 2%;}
	
	.hzhb_list li{margin:10px 2%; width:46%;}
	.hzhb_list li .hz_pic{height:100px;}
	.hzhb_list li .name{font-size:12px;}
	
	.partner_list{width:510px; text-align:center;}
	.hz_part a{width:150px;padding:0 10px; text-align:center; border:none;}
	
	.yzmPic{ width:40%;}
	.denglu_box{ margin-top:0;}
	.denglu_box .logo{ display:none;}
	.denglu_box{ padding-top:50px; height:auto;}
	.register_login a{ font-size:16px; line-height:40px;}
	.buy_tc{ width:96%; left:0; margin-left:0; top:25%; margin-top:0; margin:0 2%;}
	.buy_tc_con{ padding:10px;}
	.buy_tc_con .go_zf{ width:100%; height:35px; line-height:35px; margin-top:10px;}
	.buy_tc_con .tishi{ font-size:12px;}
	.buy_tc_con .label{ font-size:14px;}
	.buy_tc_con .text{ font-size:14px;}
	.buy_tc_con .text input{ font-size:14px;}
}
@media screen and (max-width: 640px) { 
.jScrollbar{ width:94%;}
.index2 .box3 .tabs ul{ width:700px; height:35px; overflow:hidden;}
.jScrollbar .jScrollbar_mask{ width:100%;}
.shoujiyzm{ width:38%;}
.tiaokuan{ width:94%;}
.top_nav{ display:none;}
.wap_top{ display:block;}
.bott_link a{ font-size:14px;}
.xtjs_list .left_txt{width:100%;}
.xtjs_list .pic{width:100%; padding:10px 0;}

.ny_txt{line-height:24px; font-size:12px; text-align:left;}
.xtjs_list .tit{font-size:16px;}
.xtjs_list .text{line-height:24px; font-size:12px;}
.ny_main_con .xt-gn a{background-size:120px 34px; width:120px;}

.gn_table table .td3 .left,.gn_table table .td3 .right{width:90%; padding:0 28px; box-sizing:border-box; border:none;} 
.gn_table table .td1,.gn_table table .td2 ul li,.gn_table table .td3{font-size:12px;}
.xxjs_list{width:100%;}

.about_txt{font-size:12px; line-height:24px;}
.fenli_nr_list li{width:100%; padding:8px 0; border:12px solid #ffffff;}

.partner_list{width:100%; text-align:center;}
.hz_part a{ float:none; width:100%; height:auto; padding:10px 0;}

.xqfb .box1 .txt{font-size:12px;}
.ny_main_con .xt-gn{ width:482px; padding-top:0;}
.login_box{ width:96%; padding:2%;}
	.login_box .main_con{ width:96%; padding:0 2% 20px;}
	.login_box .input_list .text{ width:80%;}
	.input_list2{ width:60%;}
}  


@media screen and (max-width: 480px) {
	
	.service_list{width:100%; margin:10px 0;}
	.gn_table table .td2 ul{padding:12px;}
	.gn_table table .td3 .left,.gn_table table .td3 .right{width:auto; padding:0 12px;}
	.xqfb .box2 li{width:100%; margin:10px 0;}
	.xqfb .box2 .con{height:auto;}
	
	
}












































































