<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A001.A001SYAINMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A001.A001SYAINEntity" id="A001SYAINEntityMap">
		<id property="SHAINID" column="SHAINID" />
		<id property="ROGUINID" column="ROGUINID" />
		<result property="SHAINMEI" column="SHAINMEI" />
		<result property="DENWABANGOU" column="DENWABANGOU" />
		<result property="KEITAIBANGOU" column="KEITAIBANGOU" />
		<result property="EMAIL" column="EMAIL" />
		<result property="LINE" column="LINE" />
		<result property="YUUZAAKENGEN" column="YUUZAAKENGEN" />
		<result property="PASUWAADO" column="PASUWAADO" />
		<result property="YUUKOUKUBUN" column="YUUKOUKUBUN" />
	</resultMap>
	<!-- null -->
	<select id="A001InitDepthZero"  resultMap="A001SYAINEntityMap">
		SELECT SHAINID,SHAINMEI,DENWABANGOU,KEITAIBANGOU,EMAIL,LINE,YUUZAAKENGEN,YUUKOUKUBUN,ROGUINID,PASUWAADO FROM SYAIN
			<where>
				 1 = 1 
				<if test="SHAINID1 != null and SHAINID1 != ''">
					 AND SHAINID  = #{SHAINID1} 
				</if>
				<if test="ROGUINID1 != null and ROGUINID1 != ''">
					 AND ROGUINID  = #{ROGUINID1} 
				</if>
			</where>
		 ORDER BY 1 
		 LIMIT 50
	</select>
</mapper>