<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A008.A008DropDownListOption31SYAINMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A008.A008DropDownListOption31SYAINEntity" id="A008DropDownListOption31SYAINEntityMap">
		<result property="SHAINID" column="SHAINID" />
		<result property="ROGUINID" column="ROGUINID" />
		<result property="SHAINMEI" column="SHAINMEI" />
		<result property="DENWABANGOU" column="DENWABANGOU" />
		<result property="KEITAIBANGOU" column="KEITAIBANGOU" />
		<result property="EMAIL" column="EMAIL" />
		<result property="LINE" column="LINE" />
		<result property="YUUZAAKENGEN" column="YUUZAAKENGEN" />
		<result property="PASUWAADO" column="PASUWAADO" />
		<result property="YUUKOUKUBUN" column="YUUKOUKUBUN" />
	</resultMap>
	<!-- null -->
	<select id="SYAIN31SHAINIDSHAINMEIdrp"  resultMap="A008DropDownListOption31SYAINEntityMap">
		SELECT SHAINID,ROGUINID,SHAINMEI,DENWABANGOU,KEITAIBANGOU,EMAIL,LINE,YUUZAAKENGEN,PASUWAADO,YUUKOUKUBUN FROM SYAIN
		 ORDER BY 1 
		 LIMIT 50
	</select>
</mapper>