<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A008.A008Q2I00012PrintMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A008.A008Q2I00012PrintEntity" id="A008Q2I00012PrintEntityMap">
		<result property="RYOUSHUUSHOVIEW_CHUUBUNSHONO1" column="RYOUSHUUSHOVIEW_CHUUBUNSHONO1" />
		<result property="YOUSHUUSHOVIEW_MITSUMORISHONO2" column="YOUSHUUSHOVIEW_MITSUMORISHONO2" />
		<result property="SHUUSHOVIEW_SHANAIKOUJIBANGOU3" column="SHUUSHOVIEW_SHANAIKOUJIBANGOU3" />
		<result property="RYOUSHUUSHOVIEW_KAISHAMEI4" column="RYOUSHUUSHOVIEW_KAISHAMEI4" />
		<result property="YOUSHUUSHOVIEW_NYUUKINKINGAKU5" column="YOUSHUUSHOVIEW_NYUUKINKINGAKU5" />
		<result property="UUSHOVIEW_FURIDASHIZUMIWARIAI6" column="UUSHOVIEW_FURIDASHIZUMIWARIAI6" />
		<result property="USHOVIEW_FURIDASHIZUMIHIDZUKE7" column="USHOVIEW_FURIDASHIZUMIHIDZUKE7" />
		<result property="USHOVIEW_FURIDASHIZUMIKINGAKU8" column="USHOVIEW_FURIDASHIZUMIKINGAKU8" />
		<result property="SHUUSHOVIEW_MIFURIDASHIWARIAI9" column="SHUUSHOVIEW_MIFURIDASHIWARIAI9" />
		<result property="UUSHOVIEW_MIFURIDASHIKINGAKU10" column="UUSHOVIEW_MIFURIDASHIKINGAKU10" />
		<result property="HUUSHOVIEW_NYUUKINZUMIWARIAI11" column="HUUSHOVIEW_NYUUKINZUMIWARIAI11" />
		<result property="UUSHOVIEW_NYUUKINZUMIKINGAKU12" column="UUSHOVIEW_NYUUKINZUMIKINGAKU12" />
		<result property="USHUUSHOVIEW_MINYUUKINWARIAI13" column="USHUUSHOVIEW_MINYUUKINWARIAI13" />
		<result property="SHUUSHOVIEW_MINYUUKINKINGAKU14" column="SHUUSHOVIEW_MINYUUKINKINGAKU14" />
		<result property="RYOUSHUUSHOVIEW_SHAINMEI15" column="RYOUSHUUSHOVIEW_SHAINMEI15" />
	</resultMap>
	<!-- null -->
	<select id="A008Q2I00012Print"  resultMap="A008Q2I00012PrintEntityMap">
		SELECT 
I00009.CHUUBUNSHONO AS RYOUSHUUSHOVIEW_CHUUBUNSHONO1
,I00009.MITSUMORISHONO AS YOUSHUUSHOVIEW_MITSUMORISHONO2
,I00009.SHANAIKOUJIBANGOU AS SHUUSHOVIEW_SHANAIKOUJIBANGOU3
,I00009.KAISHAMEI AS RYOUSHUUSHOVIEW_KAISHAMEI4
,I00009.YOUSHUUSHOVIEW_NYUUKINKINGAKU5 AS YOUSHUUSHOVIEW_NYUUKINKINGAKU5
,I00009.FURIDASHIZUMIWARIAI AS UUSHOVIEW_FURIDASHIZUMIWARIAI6
,I00009.FURIDASHIZUMIHIDZUKE AS USHOVIEW_FURIDASHIZUMIHIDZUKE7
,I00009.FURIDASHIZUMIKINGAKU AS USHOVIEW_FURIDASHIZUMIKINGAKU8
,I00009.SHUUSHOVIEW_MIFURIDASHIWARIAI9 AS SHUUSHOVIEW_MIFURIDASHIWARIAI9
,I00009.UUSHOVIEW_MIFURIDASHIKINGAKU10 AS UUSHOVIEW_MIFURIDASHIKINGAKU10
,I00009.NYUUKINZUMIWARIAI AS HUUSHOVIEW_NYUUKINZUMIWARIAI11
,I00009.NYUUKINZUMIKINGAKU AS UUSHOVIEW_NYUUKINZUMIKINGAKU12
,I00009.MINYUUKINWARIAI AS USHUUSHOVIEW_MINYUUKINWARIAI13
,I00009.SHUUSHOVIEW_MINYUUKINKINGAKU14 AS SHUUSHOVIEW_MINYUUKINKINGAKU14
,I00009.SHAINMEI AS RYOUSHUUSHOVIEW_SHAINMEI15
 FROM I00009
 WHERE 1 = 1 
AND   CASE WHEN #{KYAKUSAKI} IS NULL OR #{KYAKUSAKI} = '' THEN 1 = 1 ELSE I00009.KAISHAMEI =  #{KYAKUSAKI}  END 
AND   CASE WHEN #{CHUUMONHIDZUKE} IS NULL OR #{CHUUMONHIDZUKE} = '' THEN 1 = 1 ELSE I00009.CHUUMONTOSHITSUKI =  #{CHUUMONHIDZUKE}  END 
	</select>
</mapper>