<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A004.A004O14deleteKAISYAMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A004.A004O14deleteKAISYAEntity" id="A004O14deleteKAISYAEntityMap">
	</resultMap>
	<!-- null -->
	<delete id="A004O14deleteKAISYA" >
		DELETE FROM KAISYA
	</delete>
</mapper>