<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A005.A005C9insertBUMONMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A005.A005C9insertBUMONEntity" id="A005C9insertBUMONEntityMap">
		<result property="BUMONID" column="BUMONID" />
		<result property="BUMONMEI" column="BUMONMEI" />
	</resultMap>
	<!-- null -->
	<insert id="A005C9insertBUMON" >
		INSERT INTO BUMON (BUMONID,BUMONMEI) VALUES (#{BUMONID},#{BUMONMEI})
	</insert>
</mapper>