<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A005.A005C14deleteKAISYAMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A005.A005C14deleteKAISYAEntity" id="A005C14deleteKAISYAEntityMap">
	</resultMap>
	<!-- null -->
	<delete id="A005C14deleteKAISYA" >
		DELETE FROM KAISYA
	</delete>
</mapper>