<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A005.A005C9deleteBUMONMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A005.A005C9deleteBUMONEntity" id="A005C9deleteBUMONEntityMap">
	</resultMap>
	<!-- null -->
	<delete id="A005C9deleteBUMON" >
		DELETE FROM BUMON
	</delete>
</mapper>