<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A006.A006G4I00011PrintMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A006.A006G4I00011PrintEntity" id="A006G4I00011PrintEntityMap">
		<result property="SHOUHIN_SHOUHINNO1" column="SHOUHIN_SHOUHINNO1" />
		<result property="SHOUHIN_SHOUHINMEISHOU2" column="SHOUHIN_SHOUHINMEISHOU2" />
		<result property="SHOUHIN_ZAISHITSU3" column="SHOUHIN_ZAISHITSU3" />
		<result property="SHOUHIN_NYUUKAHIDZUKE4" column="SHOUHIN_NYUUKAHIDZUKE4" />
		<result property="SHOUHIN_TANKA5" column="SHOUHIN_TANKA5" />
		<result property="SHOUHIN_ZAIKOSUURYOU6" column="SHOUHIN_ZAIKOSUURYOU6" />
		<result property="KAISHA_KAISHAMEI7" column="KAISHA_KAISHAMEI7" />
	</resultMap>
	<!-- null -->
	<select id="A006G4I00011Print"  resultMap="A006G4I00011PrintEntityMap">
		SELECT 
SYOUHIN.SHOUHINNO AS SHOUHIN_SHOUHINNO1
,SYOUHIN.SHOUHINMEISHOU AS SHOUHIN_SHOUHINMEISHOU2
,SYOUHIN.ZAISHITSU AS SHOUHIN_ZAISHITSU3
,SYOUHIN.NYUUKAHIDZUKE AS SHOUHIN_NYUUKAHIDZUKE4
,SYOUHIN.PRICE AS SHOUHIN_TANKA5
,SYOUHIN.ZAIKOSUURYOU AS SHOUHIN_ZAIKOSUURYOU6
,KAISYA.KAISHAMEI AS KAISHA_KAISHAMEI7
 FROM SYOUHIN
 LEFT JOIN KAISYA ON KAISYA.KAISHAID  = SYOUHIN.TSUKAMATSUNYUUSAKI
 WHERE 1 = 1 
AND  CASE WHEN #{SHOUHINMEI} IS NULL OR #{SHOUHINMEI} = '' THEN 1 = 1 ELSE SYOUHIN.SHOUHINMEISHOU =  #{SHOUHINMEI}  END 
AND   CASE WHEN #{KAISHAMEI} IS NULL OR #{KAISHAMEI} = '' THEN 1 = 1 ELSE SYOUHIN.TSUKAMATSUNYUUSAKI =  #{KAISHAMEI}  END 
	</select>
</mapper>