<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A006.A006Insert19GridSaveMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A006.A006Insert19GridSaveEntity" id="A006Insert19GridSaveEntityMap">
		<result property="SHOUHINMEISHOU" column="SHOUHINMEISHOU" />
		<result property="ZAISHITSU" column="ZAISHITSU" />
		<result property="TSUKAMATSUNYUUSAKI" column="TSUKAMATSUNYUUSAKI" />
		<result property="NYUUKAHIDZUKE" column="NYUUKAHIDZUKE" />
		<result property="PRICE" column="PRICE" />
		<result property="ZAIKOSUURYOU" column="ZAIKOSUURYOU" />
		<result property="SHOUHINNO" column="SHOUHINNO" />
	</resultMap>
	<!-- null -->
	<insert id="A006Insert19GridSaveData" >
		INSERT INTO SYOUHIN (SHOUHINMEISHOU,ZAISHITSU,TSUKAMATSUNYUUSAKI,NYUUKAHIDZUKE,PRICE,ZAIKOSUURYOU,SHOUHINNO) VALUES (#{SHOUHINMEISHOU},#{ZAISHITSU},#{TSUKAMATSUNYUUSAKI},#{NYUUKAHIDZUKE},#{PRICE},#{ZAIKOSUURYOU},#{SHOUHINNO})
	</insert>
</mapper>