<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A006.A006DropDownListOption25I00001Mapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A006.A006DropDownListOption25I00001Entity" id="A006DropDownListOption25I00001EntityMap">
		<result property="KAISHAID" column="KAISHAID" />
		<result property="KAISHAMEI" column="KAISHAMEI" />
		<result property="KAISHARYAKUSHOU" column="KAISHARYAKUSHOU" />
		<result property="ADORESU" column="ADORESU" />
		<result property="RENRAKUSAKI" column="RENRAKUSAKI" />
		<result property="SHIHARAIKIGEN" column="SHIHARAIKIGEN" />
		<result property="KAISHAKUBUN" column="KAISHAKUBUN" />
	</resultMap>
	<!-- null -->
	<select id="I0000125KAISHAIDKAISHAMEIdrp"  resultMap="A006DropDownListOption25I00001EntityMap">
		SELECT KAISHAID,KAISHAMEI,KAISHARYAKUSHOU,ADORESU,RENRAKUSAKI,SHIHARAIKIGEN,KAISHAKUBUN FROM I00001
		 ORDER BY 1 
		 LIMIT 50
	</select>
</mapper>