<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonderrobot.sfhanbaizaikokanrishisutemu.mapper.A006.A006L4I00016PrintMapper">
	<resultMap type="com.wonderrobot.sfhanbaizaikokanrishisutemu.entity.A006.A006L4I00016PrintEntity" id="A006L4I00016PrintEntityMap">
		<result property="KKOJOUHOUICHIRAN_CHUUBUNSHONO1" column="KKOJOUHOUICHIRAN_CHUUBUNSHONO1" />
		<result property="UHOUICHIRAN_SHUTSUNYUUKOJIKAN2" column="UHOUICHIRAN_SHUTSUNYUUKOJIKAN2" />
		<result property="HOUICHIRAN_SHUTSUNYUUKOJOUTAI3" column="HOUICHIRAN_SHUTSUNYUUKOJOUTAI3" />
		<result property="OJOUHOUICHIRAN_SHOUHINMEISHOU4" column="OJOUHOUICHIRAN_SHOUHINMEISHOU4" />
		<result property="SHUKKOJOUHOUICHIRAN_KAISHAMEI5" column="SHUKKOJOUHOUICHIRAN_KAISHAMEI5" />
		<result property="UUKOSHUKKOJOUHOUICHIRAN_TAN_I6" column="UUKOSHUKKOJOUHOUICHIRAN_TAN_I6" />
		<result property="KOSHUKKOJOUHOUICHIRAN_SUURYOU7" column="KOSHUKKOJOUHOUICHIRAN_SUURYOU7" />
		<result property="UUKOSHUKKOJOUHOUICHIRAN_TANKA8" column="UUKOSHUKKOJOUHOUICHIRAN_TANKA8" />
		<result property="UKOSHUKKOJOUHOUICHIRAN_GOUKEI9" column="UKOSHUKKOJOUHOUICHIRAN_GOUKEI9" />
	</resultMap>
	<!-- null -->
	<select id="A006L4I00016Print"  resultMap="A006L4I00016PrintEntityMap">
		SELECT 
I00008.CHUUBUNSHONO AS KKOJOUHOUICHIRAN_CHUUBUNSHONO1
,I00008.SHUTSUNYUUKOJIKAN AS UHOUICHIRAN_SHUTSUNYUUKOJIKAN2
,I00008.SHUTSUNYUUKOJOUTAI AS HOUICHIRAN_SHUTSUNYUUKOJOUTAI3
,I00008.SHOUHINMEISHOU AS OJOUHOUICHIRAN_SHOUHINMEISHOU4
,I00008.KAISHAMEI AS SHUKKOJOUHOUICHIRAN_KAISHAMEI5
,I00008.TAN_I AS UUKOSHUKKOJOUHOUICHIRAN_TAN_I6
,I00008.SUURYOU AS KOSHUKKOJOUHOUICHIRAN_SUURYOU7
,I00008.PRICE AS UUKOSHUKKOJOUHOUICHIRAN_TANKA8
,I00008.GOUKEI AS UKOSHUKKOJOUHOUICHIRAN_GOUKEI9
 FROM I00008
 WHERE 1 = 1 
AND   CASE WHEN #{KAISHAMEI} IS NULL OR #{KAISHAMEI} = '' THEN 1 = 1 ELSE I00008.KAISHAMEI =  #{KAISHAMEI}  END 
AND   CASE WHEN #{SHOUHINMEI} IS NULL OR #{SHOUHINMEI} = '' THEN 1 = 1 ELSE I00008.SHOUHINMEISHOU =  #{SHOUHINMEI}  END 
	</select>
</mapper>